{# templates/home/index.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Centre B : Accueil
{% endblock %}
{% block page_name %}
	Menu Hebdomadaire
{% endblock %}
{% block body %}
	<div class="menu container-fluid">
		<div class="row mx-lg-n5">
			<div class="col  menuBorder  menuHeader text-center" style="border-top-left-radius: 20px"></div>
			<div class="col py-3 px-lg-5 menuBorder  menuHeader text-center">Lundi
				<br>
				{{ menu[menu|last.id - 20].date | date("Y-m-d") }}
			</div>
			<div class="col py-3 px-lg-5 menuBorder  menuHeader text-center">Mardi
				<br>
				{{ menu[menu|last.id - 18].date | date("Y-m-d") }}
			</div>
			<div class="col py-3 px-lg-5 menuBorder  menuHeader text-center">Mercredi
				<br>
				{{ menu[menu|last.id - 16].date | date("Y-m-d") }}
			</div>
			<div class="col py-3 px-lg-5 menuBorder  menuHeader text-center">Jeudi
				<br>
				{{ menu[menu|last.id - 14].date | date("Y-m-d") }}
			</div>
			<div class="col py-3 px-lg-5 menuBorder  menuHeader text-center" style="border-top-right-radius: 20px">Vendredi
				<br>
				{{ menu[menu|last.id - 12].date | date("Y-m-d") }}
			</div>
		</div>
		<div class="row mx-lg-n5 align-items-center">
			<div class="col  menuBorder  menuLeft text-center">Service 1</div>
			<div class="col py-3 px-lg-5 menuBorder  menuContent text-center">
				{{ menu[menu|last.id - 20].entree.nom}}<br>
				composition :
				{{ menu[menu|last.id - 20].entree.composition}}<br><br>
				{{ menu[menu|last.id - 20].platun.nom}}<br>
				composition :
				{{ menu[menu|last.id - 20].platun.composition}}<br><br>
				{{ menu[menu|last.id - 20].platdeux.nom}}<br>
				{{ menu[menu|last.id - 20].plattrois.nom}}<br>
				{{ menu[menu|last.id - 20].dessert.nom}}</div>
			<div class="col py-3 px-lg-5 menuBorder  menuContent text-center">
				{{ menu[menu|last.id - 18].entree.nom}}<br>
				composition :
				{{ menu[menu|last.id - 18].entree.composition}}<br><br>
				{{ menu[menu|last.id - 18].platun.nom}}<br>
				composition :
				{{ menu[menu|last.id - 18].platun.composition}}<br><br>
				{{ menu[menu|last.id - 18].platdeux.nom}}<br>
				{{ menu[menu|last.id - 18].plattrois.nom}}<br>
				{{ menu[menu|last.id - 18].dessert.nom}}</div>
			<div class="col py-3 px-lg-5 menuBorder  menuContent text-center">
				{{ menu[menu|last.id - 16].entree.nom}}<br>
				composition :
				{{ menu[menu|last.id - 16].entree.composition}}<br><br>
				{{ menu[menu|last.id - 16].platun.nom}}<br>
				composition :
				{{ menu[menu|last.id - 16].platun.composition}}<br><br>
				{{ menu[menu|last.id - 16].platdeux.nom}}<br>
				{{ menu[menu|last.id - 16].plattrois.nom}}<br>
				{{ menu[menu|last.id - 16].dessert.nom}}</div>
			<div class="col py-3 px-lg-5 menuBorder  menuContent text-center">
				{{ menu[menu|last.id - 14].entree.nom}}<br>
				composition :
				{{ menu[menu|last.id - 14].entree.composition}}<br><br>
				{{ menu[menu|last.id - 14].platun.nom}}<br>
				composition :
				{{ menu[menu|last.id - 14].platun.composition}}<br><br>
				{{ menu[menu|last.id - 14].platdeux.nom}}<br>
				{{ menu[menu|last.id - 14].plattrois.nom}}<br>
				{{ menu[menu|last.id - 14].dessert.nom}}</div>
			<div class="col py-3 px-lg-5 menuBorder  menuContent text-center">
				{{ menu[menu|last.id - 12].entree.nom}}<br>
				composition :
				{{ menu[menu|last.id - 12].entree.composition}}<br><br>
				{{ menu[menu|last.id - 12].platun.nom}}<br>
				composition :
				{{ menu[menu|last.id - 12].platun.composition}}<br><br>
				{{ menu[menu|last.id - 12].platdeux.nom}}<br>
				{{ menu[menu|last.id - 12].plattrois.nom}}<br>
				{{ menu[menu|last.id - 12].dessert.nom}}</div>
		</div>
		<div class="row mx-lg-n5 align-items-center">
			<div class="col menuBorder  menuLeft text-center" style="border-bottom-left-radius: 20px">Service 2</div>
			<div class="col py-3 px-lg-5 menuBorder  menuContent text-center">
				{{ menu[menu|last.id - 19].entree.nom}}<br>
				composition :
				{{ menu[menu|last.id - 19].entree.composition}}<br><br>
				{{ menu[menu|last.id - 19].platun.nom}}<br>
				composition :
				{{ menu[menu|last.id - 19].platun.composition}}<br><br>
				{{ menu[menu|last.id - 19].platdeux.nom}}<br>
				{{ menu[menu|last.id - 19].plattrois.nom}}<br>
				{{ menu[menu|last.id - 19].dessert.nom}}</div>
			<div class="col py-3 px-lg-5 menuBorder  menuContent text-center">
				{{ menu[menu|last.id - 17].entree.nom}}<br>
				composition :
				{{ menu[menu|last.id - 17].entree.composition}}<br><br>
				{{ menu[menu|last.id - 17].platun.nom}}<br>
				composition :
				{{ menu[menu|last.id - 17].platun.composition}}<br><br>
				{{ menu[menu|last.id - 17].platdeux.nom}}<br>
				{{ menu[menu|last.id - 17].plattrois.nom}}<br>
				{{ menu[menu|last.id - 17].dessert.nom}}</div>
			<div class="col py-3 px-lg-5 menuBorder  menuContent text-center">
				{{ menu[menu|last.id - 15].entree.nom}}<br>
				composition :
				{{ menu[menu|last.id - 15].entree.composition}}<br><br>
				{{ menu[menu|last.id - 15].platun.nom}}<br>
				composition :
				{{ menu[menu|last.id - 15].platun.composition}}<br><br>
				{{ menu[menu|last.id - 15].platdeux.nom}}<br>
				{{ menu[menu|last.id - 15].plattrois.nom}}<br>
				{{ menu[menu|last.id - 15].dessert.nom}}</div>
			<div class="col py-3 px-lg-5 menuBorder  menuContent text-center">
				{{ menu[menu|last.id - 13].entree.nom}}<br>
				composition :
				{{ menu[menu|last.id - 13].entree.composition}}<br><br>
				{{ menu[menu|last.id - 13].platun.nom}}<br>
				composition :
				{{ menu[menu|last.id - 13].platun.composition}}<br><br>
				{{ menu[menu|last.id - 13].platdeux.nom}}<br>
				{{ menu[menu|last.id - 13].plattrois.nom}}<br>
				{{ menu[menu|last.id - 13].dessert.nom}}</div>
			<div class="col py-3 px-lg-5 menuBorder  menuContent text-center " style="border-bottom-right-radius: 20px">
				{{ menu[menu|last.id - 11].entree.nom}}<br>
				composition :
				{{ menu[menu|last.id - 11].entree.composition}}<br><br>
				{{ menu[menu|last.id - 11].platun.nom}}<br>
				composition :
				{{ menu[menu|last.id - 11].platun.composition}}<br><br>
				{{ menu[menu|last.id - 11].platdeux.nom}}<br>
				{{ menu[menu|last.id - 11].plattrois.nom}}<br>
				{{ menu[menu|last.id - 11].dessert.nom}}</div>
		</div>
	</div>


{% endblock %}
