{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<h1>Commande</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ commande.id }}</td>
			</tr>
			<tr>
				<th>PlatType</th>
				<td>{{ commande.Type.regime }}</td>
			</tr>
			<tr>
				<th>Date_and_time_of_order</th>
				<td>{{ commande.dateAndTimeOfOrder ? commande.dateAndTimeOfOrder|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<div>
		<a href="{{ path('app_commande_index') }}" class="btn btn-primary">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"></path>
			</svg>
			Retour liste commandes
		</a>


		{{ include('commande/_delete_form.html.twig') }}
	</div>
{% endblock %}
